.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

.content {
  width: 579px;
  float: right;
  padding-left: 10px;
  border-left-style: solid;
  border-left-color: black;
}

nav {
  width: 120px;
  float: left;
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

ul{
  padding-left: 0px;
  margin-top: 0px;

}

li{
  list-style-type: none;
  padding: 2px;
}

.footer {
  clear: both;
  border-top: 1px solid black;
  padding-top: 10px;
  padding-left: 20%;
}

h2{
  margin-top: 0px;
}

